body {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center;
}

.carro, .bicicleta {
    background-color: #111;
    border-radius: 4px;
    text-align: center;
    margin: 20px;
    padding: 30px;
}

h2{
    color: #fff;
}

p {
    color: #b2b2b2;
}

span{
    color: #febe01;
}

a {
    display: inline-block;
    color: #332200;
    background-color: #febe01;
    border-radius: 4px;
    padding: 10px;
    text-decoration: none;
}